/* --- LAYOUT GLOBAL --- */
.fullscreen-panel {
    position: absolute; width: 100%; height: 100%;
}
.popup-panel {
    position: absolute; width: 50%; height: 60%;
    left: 25%; background-color: rgba(0,0,0,0.9);
    border-radius: 20px; align-items: center; justify-content: center;
    transition: translate 0.5s ease-out-bounce;
}

/* --- POSITIONS DE LA CAMÉRA (Translations) --- */
.pos-center { translate: 0 0; }
.pos-bottom { translate: 0 100%; }
.pos-top { translate: 0 -100%; }

/* Classes ajoutées par le C# pour bouger l'écran */
.move-up { translate: 0 -100%; transition: translate 0.8s ease-in-out; }
.move-right { translate: 50% 0; transition: translate 0.5s ease-in-out; }

/* --- LES ROUES --- */
.wheel {
    position: absolute; height: 100%; width: 400px;
    justify-content: center;
}
.right-wheel { right: -50px; }
.left-wheel { left: -500px; /* Cachée par défaut */ transition: left 0.5s; }

/* Quand on clique sur options, on la fait entrer */
.show-left-wheel { left: 50px; }

/* Effet des boutons */
.wheel-btn {
    font-size: 35px; color: white; background-color: clear; border-width: 0;
    margin-bottom: 20px; transition: scale 0.2s, color 0.2s;
}
.wheel-btn:focus, .wheel-btn:hover {
    scale: 1.2; color: #FFD700;
}

/* --- TON CURSEUR --- */
.custom-cursor {
    position: absolute; width: 40px; height: 40px;
    background-image: url('TonImageDeCurseur.png'); /* Mets ton image ici */
    transition: translate 0.15s ease-out; /* Mouvement fluide du pointeur */
}